*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
}

body {
  min-height: 100vh;
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
}

.container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

header {
  display: flex;
  justify-content: space-around;
}
header ul {
  display: flex;
  gap: 8px;
}
li {
  list-style: none;
}
li a {
  text-decoration: none;
  color: gray;
}

.hero {
  background-color: #1f2937;
  color: #e5e7eb;
  font-size: 18px;
}
.img {
  font-size: 24px;
  color: #f9faf8;
}
h1 {
  font-size: 48px;
  color: #f9faf8;
  font-weight: 900;
}

.info-boxes {
  color: #1f2937;
  font-size: 36px;
  font-weight: 900;
}

.cta {
  background-color: #3882f6;
}

button {
  color: #3882f6;
}

.quote-container {
  background-color: #e5e7eb;
  font-size: 36px;
  font-weight: 300;
  color: #1f2937;
}

footer {
  text-align: center;
  background-color: #1f2937;
}
